@model IEnumerable<VidlyF.Web.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customer</h2>


<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", new { customer.Id }) </td>

            </tr>
        }
    </tbody>
</table>