@model IEnumerable<VidlyF.Web.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("Add Movie", "Create", "Movies", null, new { @class = "btn btn-primary" })
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
            {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", new { movie.Id }) </td>
                <td>@movie.Genre.Name</td>
                <td>
                    <button data-movie-id="@movie.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete?", function (result) {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}